{% extends 'base.twig' %}

{% block body %}
<a href="index.php?action=dashboard">Back to the dashboard</a>
<form action="index.php" method="post">
	{% if activity.id %}
	<input type="hidden" name="id" value="{{ activity.id }}">
	{% endif %}

	<label for="name">Name</label><br>
	<input type="text" name="name" id="name" value="{{ activity.name }}"><br>

	<label for="description">Description</label><br>
	<input type="text" name="username" id="username" value="{{ activity.description }}"><br>

	<label for="datetime">Date and time</label><br>
	<input type="datetime-local" name="datetime" id="datetime" value="{{ activity.datetime }}"><br>

	<input type="hidden" name="action" value="activity_form_submit">

	<input type="submit" value="Submit">
</form>

{% endblock %}
