{% extends 'base.twig' %}

{% block body %}
<a href="index.php?action=dashboard">Back to the dashboard</a>
<form action="index.php" method="post">
	{% if activity.id %}
	<input type="hidden" name="id" value="{{ activity.id }}">
	{% endif %}

	<label for="description">Description</label><br>
	<input type="text" name="description" id="description" value="{{ activity.description }}"><br>

	<label for="date">Date</label><br>
	<input type="date" name="date" id="date" value="{{ activity.date }}"><br>

	<input type="hidden" name="action" value="activity_form_submit">

	<input type="submit" value="Submit">
</form>

{% endblock %}
