{% extends 'base.twig' %}

{% block body %}
<h1> Hello, {{ user.name }} {{ user.surname }}.</h1>
<h2> {{ user.role.name }}
	{% if club %}
	of {{ club.name|lower }}
	{% endif %}
dashboard.</h2>
<ul>
	<li><a href="index.php?action=logout">Log out</a></li>
	{% if user.role.name == 'Admin' %}
		<li><a href="index.php?action=list_clubs">List clubs</a></li>
		<li><a href="index.php?action=list_supervisors">List supervisors</a></li>
		<li><a href="index.php?action=club_form">Add club</a></li>
		<li><a href="index.php?action=supervisor_form">Add supervisor</a></li>
	{% endif %}
	{% if user.role.name == 'Supervisor' %}
		{% if club %}
			<li><a href="index.php?action=list_activities">List activities</a></li>
			<li><a href="index.php?action=list_members">List members</a></li>
			<li><a href="index.php?action=add_activity">Add activity</a></li>
			<li><a href="index.php?action=add_member">Add member</a></li>
		{% else %}
			<li>You aren't asigned to a club.</li>
		{% endif %}
	{% endif %}
</ul>

{% endblock %}
