{% extends 'base.twig' %}

{% block body %}
<h1> Hello, {{ user.name }} {{ user.surname }}.</h1>
<h2> {{user.role.name }} panel</h2>
<ul>
	{% if user.role.name == 'Admin' %}
		<li><a>List clubs</a></li>
		<li><a>List supervisors</a></li>
		<li><a>Add club</a></li>
		<li><a>Add supervisor</a></li>
	{% endif %}
	{% if user.role.name == 'Supervisor' %}
		<li><a>List activities</a></li>
		<li><a>List members</a></li>
		<li><a>Add activity</a></li>
		<li><a>Add member</a></li>
	{% endif %}
</ul>

<a href="index.php?action=logout">Log out</a>
{% endblock %}
