{% extends 'base.twig' %}

{% block body %}
<a href="index.php?action=dashboard">Back to the dashboard</a>
<table>
	<tr>
		<th>Description</th>
		<th>Date</th>
		<th>Attendance</th>
	</tr>
	{% for activity in activities %}
	<tr>
		<td><a href="index.php?action=activity_form&id={{activity.id}}">{{ activity.description }}</a></td>
		<td>{{ activi.date|date("Y-m-d") }}</td>
		<td><a href="index.php?action=attendance_form&id={{activity.id}}">Attendance</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
