{% extends 'base.twig' %}

{% block body %}
<a href="index.php?action=dashboard">Back to the dashboard</a>
<table>
	<tr>
		<th>Username</th>
		<th>Name</th>
		<th>Surname</th>
	</tr>
	{% for supervisor in supervisors %}
	<tr>
		<td>
			<a href="index.php?action=supervisor_form&id={{ supervisor.id}}">{{ supervisor.username }}</a>
		</td>
		<td>{{ supervisor.name }}</td>
		<td>{{ supervisor.surname }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
